/* ****** 
 FONTS 
***** */
@font-face {
  font-family: montserrat_100;
  src: url("./fonts/Montserrat-Thin.ttf");
}

@font-face {
  font-family: montserrat_200;
  src: url("./fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: montserrat_300;
  src: url("./fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: montserrat_400;
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: montserrat_500;
  src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: montserrat_600;
  src: url("./fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: montserrat_700;
  src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: montserrat_800;
  src: url("./fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: montserrat_900;
  src: url("./fonts/Montserrat-Black.ttf");
}

/* ******
 BASIC STYLE
***** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat_400;
}

/* ****** COLORS STYLE ***** */
:root {
  --main-color: #252B42;
  --secondary-color: #26a6ef;
  --third-color: #737373;
  --bg-color: #e6e6e6;
  --default-color: #fff;

  --bg-smile: #b2e3ff;
  --bg-accept: #b9eaa7;
  --bg-setting: #ffdcd1;
  --line-color: #e6403f;
}
ul{
  list-style: none;

}


.container{
  width: 80%;
  margin: auto;
  max-width: 1200px;
  min-width: 1100px;
}




header{
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;


  img{
    height: 90px;
    width: 255px;
  }
  ul {
    display: flex;
    gap: 10px;
  }
  .shop{
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      height: 20px;
      width: 20px;
    }
  }

  .signUp{
    display: flex;
    align-items: center;
    border: 1px solid var(--secondary-color);
    width: 160px;
    justify-content: space-between;

    img {
      height: 20px;
      width: 20px;
      margin-left: 10px;
      
      
    }
    p{
      border-left:1px solid var(--secondary-color);
      padding: 10px 30px;

    }
  }
}

nav{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  height: 40px;
  
  input{
    padding: 10px 30px;
    width: 400px;
  }
  button{
    background-color: var(--secondary-color);
    color: var(--default-color);
    border: none;
    padding: 5px 10px;
  }
}


.main{
margin-top: 50px;
  button{
    padding: 15px 45px;
    border: none;
    background-color: var(--line-color);
    color: var(--default-color);
    cursor: pointer;
    margin-bottom: 5px;
  }
  .main__header{
    display: flex;
    justify-content: space-between;
  
  
  
    
    img{
      height: 500px;
      width: 500px;
    }
    h1{
      font-size: 45px;
      font-weight: bolder;
      margin-bottom: 20px;
  
  
    }
    span{
      color: var(--secondary-color);
    }
  }

  .main__footer{
    display: flex;
    justify-content: space-between;
    button{
      padding: 30px 80px;
      font-size: 24px;
      background-color: var(--secondary-color);
    }

  }
}



.about{
margin-top: 50px;
  .about__main{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2{
      font-size: 40px;
    }
    p{
      font-size: 20px;
    }
    
    
      .about__left{
        display: flex;
        flex-direction: column;
        gap: 10px;

        button{
          width: 40%;
          padding: 15px 45px;
    background-color: var(--default-color);
    color: var(--main-color);
    cursor: pointer;
    font-weight: bold;
        }
      }
    
      .about__right{

        img{
          height: 400px;
          width: 600px;
        }
        
      }
  }

}


.menu{
  display: none;
}











footer{
  background-color: var(--bg-color);
  padding: 35px 0 35px 0;


.footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  .footer__box{
    img{
      margin-bottom: 20px;
    }
    h3{
      margin-bottom: 20px;
    }
    li{
      margin-bottom: 10px;
    }

  }
}
}

.icon {
  margin-right: 5px;
}

